<div class="card-body dashboard-tabs p-0">
    <ul class="nav nav-tabs px-4" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab" aria-controls="main"
               aria-selected="true">Заявка на дизайн проект</a>
        </li>
    </ul>

    {{ form_start(form,{
        attr: {
            class:'forms-sample tinymce-form',
        }
    }) }}

    <div class="tab-content py-0 px-0">

        <div class="tab-pane fade active show" id="main" role="tabpanel" aria-labelledby="main-tab">
            <div class=" m-5">
                <p class="card-description">
                    <b>Записи менеджера:</b>
                </p>

                <div class="form-group ">
                    {{ form_widget(form.status, {attr: {
                        class: 'form-control'
                    }}) }}
                </div>

                <div class="form-group">
                    {{ form_widget(form.comment, {attr: {
                        class: 'form-control',
                        rows:10
                    }}) }}
                </div>

                <button type="submit" class="btn btn-primary">{{ name_sumbit }}</button>

                <p class="card-description mt-5 mb-4">
                    <b>Контактная информация:</b>
                </p>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputContent">Ф.И.О:</label>
                            {{ form_widget(form.client.name, {attr: {
                                class: 'form-control',
                                id: 'inputFullName',
                                readonly: true
                            }}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputPhone">Телефон:</label>
                            {{ form_widget(form.client.phone, {attr: {
                                id: 'inputPhone',
                                class: 'form-control',
                                readonly: true
                            }}) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputEmail">Email:</label>
                            {{ form_widget(form.client.email, {attr: {
                                class: 'form-control',
                                id: 'inputEmail',
                                readonly: true
                            }}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputCity">Город:</label>
                            {{ form_widget(form.client.city, {attr: {
                                id: 'inputCity',
                                class: 'form-control',
                                readonly: true
                            }}) }}
                        </div>
                    </div>
                </div>

                <p class="card-description mt-4 mb-4">
                    <b>Информация о проекте ({{ project.type.type }}):</b>
                </p>

                <div class="form-group">
                    <label for="inputProjectName">Вид дизайн-проекта:</label>
                    {{ form_widget(form.project.name, {attr: {
                        class: 'form-control',
                        id: 'inputProjectName',
                        readonly: true
                    }}) }}
                </div>

                <div class="form-group">
                    <label for="inputProjectDesc">Вид дизайн-проекта:</label>
                    {{ form_widget(form.project.description, {attr: {
                        class: 'form-control',
                        id: 'inputProjectDesc',
                        rows:10,
                        readonly: true
                    }}) }}
                </div>

                {% if project.size|length>0 %}
                    <p class="card-description mt-4 mb-4">
                        <b>Параметры:</b>
                    <table class="table col-4">
                        {% for label, value in project.size %}
                            <tr>
                                <td>{{ label }}</td>
                                <td>{{ value }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    </p>
                {% endif %}

                {% if project.files|length>0 %}
                    <p class="card-description mt-4 mb-4">
                        <b>Прикрепленные файлы:</b>
                    <table class="table">
                        {% for file in project.files %}
                            <tr>
                                <td>
                                    <a href="{{ path('design.project.file',{id:file.file.id}) }}"> {{ file.file.originalFilename }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    </p>
                {% endif %}


            </div>
        </div>
    </div>
    <div class="text-center mt-5 mb-4">
        <input type="hidden" name="token_csrf" value="{{ csrf_token('any') }}"/>

    </div>
    {{ form_end(form) }}
</div>
