{% extends 'cpanel/content.html.twig' %}

{% block title %}{{ parent() }} - Добавить страницу{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('cpanel.alert.error') }}
    {{ encore_entry_script_tags('cpanel.generator.slug') }}
    {{ encore_entry_script_tags('cpanel.page.tinymce') }}
{% endblock %}

{% if form is defined %}
    {% form_theme form with [
        'cpanel/_form_errors.html.twig'
    ] %}
{% endif %}

{% block content %}
    <div class="content-wrapper">
        {% block breadcrumbs %}
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('cpanel.index') }}">Главная</a></li>
                <li class="breadcrumb-item"><a href="{{ path('cpanel.pages') }}">Страницы</a></li>
                <li class="breadcrumb-item active">Создать страницу</li>
            </ol>
        {% endblock %}
        {% include 'cpanel/_flashes.html.twig' %}

        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    {{ include('cpanel/page/_form.html.twig',{
                        name_sumbit:'Создать страницу'
                    }) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}