{% extends 'frontend/container.html.twig' %}

{% block title %}{{ seo.title|default('Ошибка оплаты') }}{% endblock %}
{% block keywords %}{{ seo.keywords|default('Оформление заказа') }}{% endblock %}
{% block description %}{{ seo.description|default('Оформление заказа') }}{% endblock %}

{% block contextSlider %}
    {{ slider_context(2) }}
{% endblock %}

{% block main %}
    <div class="breadcrumbs">
        <a class="breadcrumbs__link" href="{{ path('index') }}">Главная</a>
        <span class="breadcrumbs__separator"></span>
    </div>

    {% include 'frontend/_flashes.html.twig' %}

    <h1 class="page-title">Ошибка!</h1>

    <p class="ordering__thanks">Платеж не прошел, повторите попытку ещё раз!</p>


    <div class="ordering__buttons">
        <a class="ordering__button" href="{{ path('index') }}">На главную</a>
        <a class="ordering__user-area" href="{{ path('buyer.index') }}">Личный кабинет</a>
    </div>
{% endblock %}