{% extends 'frontend/buyer/container.html.twig' %}

{% block title %}Личный кабинет - Настройки{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a class="breadcrumbs__link" href="{{ path('index') }}">Главная</a>
        <span class="breadcrumbs__separator"></span>
        <a class="breadcrumbs__link" href="{{ path('buyer.index') }}">Кабинет</a>
        <span class="breadcrumbs__separator"></span>
        <a class="breadcrumbs__link" href="{{ path('buyer.settings') }}">Личные данные</a>
        <span class="breadcrumbs__separator"></span>
    </div>
{% endblock %}

{% block headline %}
    <h1 class="page-title">Редактировать информацию</h1>
{% endblock %}

{% block sidebarContent %}
    {% set current = path('buyer.settings') %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="user-data">
        <div class="authoriz">
            <h2 class="modal__heading">Ваша информация</h2>

            {{ form_start(form) }}
            <label class="modal__label" for="form_email">ФИО</label>
            {{ form_widget(form.name, {attr: {
                class: 'modal__input',
            }}) }}
            {{  form_errors(form.name) }}

            <label class="modal__label" for="form_email">Телефон</label>
            {{ form_widget(form.phone, {attr: {
                class: 'modal__input',
            }}) }}
            {{  form_errors(form.phone) }}

            <label class="modal__label" for="form_email">Email</label>
            {{ form_widget(form.email, {attr: {
                class: 'modal__input',
            }}) }}
            {{  form_errors(form.email) }}

            <div class="modal__action">
                <button class="modal__button" type="submit">Редактировать</button>
                <a class="modal__reg" href="{{ path('buyer.settings') }}">Вернуться назад</a>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}