{% extends 'frontend/buyer/container.html.twig' %}

{% block title %}Личный кабинет - Настройки{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a class="breadcrumbs__link" href="{{ path('index') }}">Главная</a>
        <span class="breadcrumbs__separator"></span>
        <a class="breadcrumbs__link" href="{{ path('buyer.index') }}">Кабинет</a>
        <span class="breadcrumbs__separator"></span>
        <a class="breadcrumbs__link" href="{{ path('buyer.settings') }}">Личные данные</a>
        <span class="breadcrumbs__separator"></span>
    </div>
{% endblock %}

{% block headline %}
    <h1 class="page-title">Изменить пароль</h1>
{% endblock %}

{% block sidebarContent %}
    {% set current = path('buyer.settings') %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="user-data">
        <div class="authoriz">
        <h2 class="modal__heading">Введите новый пароль</h2>

        {{ form_start(form) }}
        <label class="modal__label" for="form_email">Новый пароль</label>
        {{ form_widget(form.password, {attr: {
            class: 'modal__input',
        }}) }}
        {{  form_errors(form.password) }}
        <label class="modal__label" for="form_email">Повторите новый пароль</label>
        {{ form_widget(form.repeatPassword, {attr: {
            class: 'modal__input',
        }}) }}
        {{  form_errors(form.repeatPassword) }}

        <div class="modal__action">
            <button class="modal__button" type="submit">Изменить пароль</button>
            <a class="modal__reg" href="{{ path('buyer.settings') }}">Вернуться назад</a>
        </div>

        {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
