{% extends 'cpanel/content.html.twig' %}

{% block title %}{{ parent() }} - Список салонов{% endblock %}

{% block content %}
    <div class="content-wrapper">
        {% block breadcrumbs %}
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('cpanel.index') }}">Главная</a></li>
                <li class="breadcrumb-item active">Салоны</li>
            </ol>
        {% endblock %}
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card ">
                <a href="{{ path('cpanel.salon.add') }}" class="btn btn-success btn-rounded btn-fw">
                    Добавить салон
                </a>
            </div>
        </div>
        {% include 'cpanel/_flashes.html.twig' %}
        <div class="row">

            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Список салонов</h4>
                        <div class="table-responsive pt-3">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <td colspan="2"><b>Название салона</b></td>
                                    <td><b>Адрес салона</b></td>
                                    <td class="text-center"><b>Тип салона</b></td>
                                    <td class="text-center"><b>Владелец</b></td>
                                    <td class="text-right"><b>Действие</b></td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for salon in salons %}
                                    <tr>
                                        {% if salon.moderation_status is not null %}
                                            <td style="width: 35px;">
                                                <i class="mdi mdi-alert-circle icon-md text-danger"></i>
                                            </td>
                                        {% endif %}
                                        <td{% if salon.moderation_status is null %} colspan="2"{% endif %}>
                                            <a href="{{ path('cpanel.salon',{id:salon.id}) }}">{{ salon.name }}</a>
                                        </td>
                                        <td>
                                            <a href="{{ path('cpanel.salon',{id:salon.id}) }}">{{ salon.address }}</a>
                                        </td>
                                        <td class="text-center">
                                            <span class="badge badge-success">{{ salon.type }}</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="badge badge-light">
                                                {% if salon.dealer_name is not null %}
                                                    {{ salon.dealer_name }}
                                                {% else %}
                                                    Не указан
                                                {% endif %}
                                                </span>
                                        </td>
                                        <td class="text-right">
                                            {% if salon.moderation_status is not null %}
                                                {% if salon.moderation_status == 'PROCESS' %}
                                                    <a href="{{ path('cpanel.salon',{id:salon.id}) }}"
                                                       class="btn btn-sm btn-info">Модерация</a>
                                                    <button data-path="{{ path('cpanel.salon.remove', {id:salon.id}) }}"
                                                            data-parent="tr"
                                                            class="btn btn-sm btn-danger delete-element">
                                                        Удалить
                                                    </button>
                                                {% endif %}
                                                {% if salon.moderation_status == 'PROCESS_DELETE' %}
                                                    <button data-path="{{ path('cpanel.salon.remove', {id:salon.id}) }}"
                                                            data-parent="tr"
                                                            class="btn btn-sm btn-danger delete-element">
                                                        Принять заявку на удаление салона
                                                    </button>
                                                    <a href="{{ path('cpanel.salon.cancel.remove',{id:salon.id}) }}"
                                                       class="btn btn-sm btn-success">Отклонить заявку</a>
                                                {% endif %}
                                            {% else %}
                                                <a href="{{ path('cpanel.salon',{id:salon.id}) }}"
                                                   class="btn btn-sm btn-info">Редактировать</a>
                                                <button data-path="{{ path('cpanel.salon.remove', {id:salon.id}) }}"
                                                        data-parent="tr"
                                                        class="btn btn-sm btn-danger delete-element">
                                                    Удалить
                                                </button>
                                            {% endif %}

                                        </td>
                                    </tr>

                                {% else %}
                                    <tr>
                                        <td colspan="5" class="text-center">
                                            Салоны не найдены.
                                        </td>
                                    </tr>
                                {% endfor %}
                                <input type="hidden" name="token_csrf" value="{{ csrf_token('any') }}"/>
                                </tbody>
                            </table>
                            <div class="navigation mt-3 d-flex">
                                <div class="mr-auto ml-auto">
                                    {{ knp_pagination_render(salons) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}