{% extends 'frontend/container.html.twig' %}

{% block title %}{{ seo.title|default('Данные покупателя') }}{% endblock %}
{% block keywords %}{{ seo.keywords|default('Оформление заказа') }}{% endblock %}
{% block description %}{{ seo.description|default('Оформление заказа') }}{% endblock %}

{% block contextSlider %}
    {{ slider_context(2) }}
{% endblock %}

{% if form is defined %}
    {% form_theme form with [
        'frontend/ordering/_form_radio_second.html.twig',
    ] %}
{% endif %}

{% block main %}

    <div class="breadcrumbs">
        <a class="breadcrumbs__link" href="{{ path('index') }}">Главная</a>
        <span class="breadcrumbs__separator"></span>
    </div>
    <form class="ordering" method="post" action="/">

        <h1 class="page-title">Оформление заказа</h1>

        <h2 class="ordering__heading">Номер Вашего заказа: {{ orderId }}</h2>

        <p class="ordering__thanks">Благодарим за оформление заказа!</p>

        <div class="ordering__buttons">
            <a  class="ordering__button"  href="{{ path('index') }}">На главную</a>
            <a class="ordering__user-area" href="{{ path('buyer.index') }}">Личный кабинет</a>
        </div>

    </form>

{% endblock %}
