{% extends 'cpanel/content.html.twig' %}

{% block content %}
    <div class="content-wrapper">
        {% block breadcrumbs %}
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="{{ path('cpanel.index') }}">Главная</a></li>
                <li class="breadcrumb-item"><a href="{{ path('cpanel.quizs') }}">Опросы</a></li>
                <li class="breadcrumb-item"><a href="{{ path('cpanel.quiz.questions',{'id':quiz.id}) }}">{{quiz.name}}</a></li>
                <li class="breadcrumb-item">{{quest.name}}</li>
            </ol>
        {% endblock %}
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card mt-2">
                <a href="{{ path('cpanel.quiz.quest.value.add', {id:quest.id}) }}" class="btn btn-success btn-fw">
                    Добавить вариант
                </a>
                <a href="{{ path('cpanel.quiz.question.edit',{id:quest.id}) }}" class="btn btn-primary btn-fw ml-4">
                    Редактировать вопрос
                </a>
            </div>
        </div>
        {% include 'cpanel/_flashes.html.twig' %}
        <div class="row">

            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Варианты ответов для "{{quest.name}}"</h4>
                        <div class="table-responsive pt-3">
                            <table class="table table-striped">
                                <tbody>
                                {% for val in values %}
                                    <tr>
                                        <td>
                                            {{ val.title }}
                                        </td>
                                        <td class="text-right">
                                            <a href="{{ path('cpanel.quiz.question.value.edit',{id:val.id}) }}"
                                               class="btn btn-sm btn-info">Редактировать</a>
                                            <button data-path="{{ path('cpanel.quiz.question.value.remove', {id:val.id}) }}"
                                                    data-parent="tr"
                                                    class="btn btn-sm btn-danger delete-element">
                                                Удалить
                                            </button>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="2" class="text-center">
                                            Варианты ответов не найдены.
                                        </td>
                                    </tr>
                                {% endfor %}
                                <input type="hidden" name="token_csrf" value="{{ csrf_token('any') }}"/>
                                </tbody>
                            </table>
                            <div class="navigation mt-3 d-flex">
                                <div class="mr-auto ml-auto">
                                    {{ knp_pagination_render(values) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}