{% block _form_attributes_entry_widget %}
    <li class="d-flex flex-nowrap mt-3">

        <div class="col-sm-3">
            <input type="text" class="form-control name-attribute" placeholder="Название" disabled>
            {{ form_row(form.slug) }}
            {{ form_row(form.type) }}
        </div>
        <div class="col-sm-3">
            {{ form_widget(form.label, {attr: {
                class: 'form-control value-groups'
            }}) }}
        </div>
        <div class="col-sm-3">
            <input type="text" class="form-control visible-NUMBER value-NUMBER value-groups d-none" placeholder="Число">
            <input type="text" class="form-control visible-TEXT value-groups value-TEXT d-none" placeholder="Текст">
            <select class="form-control visible-CHECKBOX value-groups value-CHECKBOX d-none"></select>
            <select class="form-control visible-SELECT value-groups value-SELECT d-none"></select>
            <span class="visible-BOOL d-none pl-auto pr-auto  form-check form-check-flat form-check-primary">
                <label class="form-check-label d-inline-block hover-cursor">
                    <input type="checkbox" class="form-check-input value-groups value-BOOL pt-1" value="true"/>
                    Да
                    <i class="input-helper"></i>
                </label>
            </span>

            {{ form_row(form.value) }}
        </div>
        <div class="col-sm-1">
            {{ form_widget(form.visible, {attr: {
                class: 'form-check-input value-groups',
                title: 'Отображать в характеристиках товара'
            }}) }}
        </div>
        <div class="col-sm-2 flex-nowrap">
            <button type="button" class="btn btn-inverse-success btn-icon move-attribute">
                <i class="mdi mdi-priority-high"></i>
            </button>
            <button type="button" class="btn btn-inverse-danger btn-icon ml-2 remove-attribute">
                <i class="mdi mdi-delete-forever"></i>
            </button>
        </div>
    </li>
{% endblock %}