{% if type=='BUY' %}
    <div class="items-accessory">
        {% for product in products %}
            <div class="item-accessory">
                <a href="{{ path('product',{id:product.id}) }}">
                <img class="item-accessory__image"
                     src="{% if product.cover %}{{ product.cover|imagine_filter('product_185_185') }}{% else %}https://imgholder.ru/185/DDD/&text=Нет фото&font=kelson{% endif %}"
                     width="185" height="185" alt=""/>
                </a>
                <a class="item-accessory__title" href="{{ path('product',{id:product.id}) }}">{{ product.name }}</a>
                <div class="item-accessory__inner">
                    {% if product.old_cost >0 %}
                        <p class="item-accessory__price">
                            <span class="item-accessory__price-new">{{ product.cost|number_format(0, '.',' ') }} ₽</span>
                            <span class="item-accessory__price-old">{{ product.old_cost|number_format(0, '.',' ') }} ₽</span>
                        </p>
                    {% else %}
                        <p class="item-accessory__price">{{ product.cost|number_format(0, '.',' ') }} ₽</p>
                    {% endif %}
                    <input class="item-accessory__quantity basket-add-count" type="number" value="1"/>
                    <button class="item-accessory__button basket-adding" type="button" data-id="{{ product.id }}">В
                        корзину
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="items-solution">
        {% for product in products %}
            <div class="item-solution">
                <a href="{{ path('product',{id:product.id}) }}">
                <img
                     src="{% if product.cover %}{{ product.cover|imagine_filter('product_297_297') }}{% else %}https://imgholder.ru/297/DDD/&text=Нет фото&font=kelson{% endif %}"
                     width="297"
                     height="297" alt="{{ product.name }}"/>
                </a>
                <div class="item-solution__inner">
                    <a class="item-accessory__title item-solution__title" href="{{ path('product',{id:product.id}) }}">{{ product.name }}</a>
                    {% if product.old_cost >0 %}
                        <p class="item-solution__price">
                            <span class="item-solution__price-new">{{ product.cost|number_format(0, '.',' ') }} ₽</span>
                            <span class="item-solution__price-old">{{ product.old_cost|number_format(0, '.',' ') }} ₽</span>
                        </p>
                    {% else %}
                        <p class="item-solution__price">{{ product.cost|number_format(0, '.',' ') }} ₽</p>
                    {% endif %}
                    <a class="item-solution__button" href="{{ path('product',{id:product.id}) }}">Подробнее</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}