{% extends 'cpanel/content.html.twig' %}

{% block title %}{{ parent() }} - Файлы для дилеров{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('cpanel.files') }}
{% endblock %}
{% block content %}
    <div class="content-wrapper">
        {% block breadcrumbs %}
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('cpanel.index') }}">Главная</a></li>
                <li class="breadcrumb-item active">Файлы для дилеров</li>
            </ol>
        {% endblock %}
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card ">
                <a href="{{ path('cpanel.categories.dealer.add') }}" class="btn btn-success btn-rounded btn-fw">
                    Добавить категорию дилеров
                </a>
            </div>
        </div>
        {% include 'cpanel/_flashes.html.twig' %}
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Список файлов по категориям:</h4>
                        {% if category_dealer|length>0 %}
                            <ul class="nav nav-pills mb-3 category-dealer" id="pills-tab" role="tablist">
                                {% for category in category_dealer %}
                                    <li class="nav-item">
                                        <a class="select-category nav-link{% if loop.first %} active{% endif %}" data-id="{{ category.id }}"
                                           id="files-{{ category.id }}" data-toggle="pill"
                                           href="#list-file-{{ category.id }}" role="tab"
                                           aria-controls="list-file-{{ category.id }}"
                                           aria-selected="{% if loop.first %}true{% else %}false{% endif %}">{{ category.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                {% for category in category_dealer %}
                                    <div class="tab-pane fade show{% if loop.first %} active{% endif %}"
                                         id="list-file-{{ category.id }}" role="tabpanel"
                                         aria-labelledby="files-{{ category.id }}">

                                        <ul class="list-grop small js-reference-list mt-4"
                                            data-url="{{ path('cpanel.files.category', {id: category.id}) }}"></ul>
<div class="d-flex">
                                        <button class="btn btn-info upload-file mt-3 mb-3 w-50 ml-auto mr-auto">Загрузка файлов в раздел "{{ category.name }}"<br><br>
                                        Перетащите на меня файлы или просто нажмите тут!</button></div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            Категории файлов не найдены.
                        {% endif %}
                        <input type="hidden" name="token_csrf" value="{{ csrf_token('any') }}"/>
                        <input type="hidden" name="url_upload"
                               value="{{ path('cpanel.file.category.upload') }}"/>


                        <div id="previews" class="mt-3 hide">
                            <h4 class="card-title">Очередь загрузки файлов:</h4>
                        </div>

                        <div id="template" style="display: none">
                            <div class="d-flex flex-row mt-5">
                                <div class="col-3">
                                    Файл: <b data-dz-name></b> (<span data-dz-size></span>)
                                </div>
                                <div class="col-9">
                                    <div class="progress mt-1">
                                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="0"
                                             aria-valuemin="0" aria-valuemax="100" data-dz-uploadprogress></div>
                                    </div>
                                    <strong class="error text-danger" data-dz-errormessage></strong>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}