{% extends 'dealer/content.html.twig' %}

{% block content %}
    <div class="content-wrapper">
        <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
                <div class="d-flex align-items-end flex-wrap">
                    <div class="mr-md-3 mr-xl-5">
                        <h2>Добро пожаловать!</h2>
                        <p class="mb-md-0">Список актуальных новостей:</p>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-end flex-wrap">
                    <a href="{{ path('dealer.ticket.add') }}" class="btn btn-primary mt-1 mt-xl-0">
                        Задать вопрос
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            {% for item in news %}
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">{{ item.header }}</h3>
                            <p class="card-description">
                                {{ item.publishedAt|date('d.m.Y H:i') }}
                            </p>
                            <p>
                                {{ item.content|raw }}
                            </p>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Новостей нет</h3>
                            <p class="card-description">
                               В настоящий момент, нет актуальных новостей.
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <input type="hidden" name="token_csrf" value="{{ csrf_token('any') }}"/>

            <div class="navigation d-flex mt-4 col-lg-12">
                <div class="ml-auto mr-auto">
                    {{ knp_pagination_render(news) }}
                </div>
            </div>

        </div>
    </div>
{% endblock %}